---
layout: default
title: vienan's blog
---

      <div id="home">
        <h1 class="pageTitle">Recent Posts</h1>
        <div style="width:330px;height:86px;margin-left:auto;margin-right:auto;margin-bottom:30px;margin-top:-10px;"><iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="http://music.163.com/outchain/player?type=2&id=29422003&auto=1&height=66"></iframe></div>
        <ul class="posts noList">
          {% for post in paginator.posts %}
            <li>
            	<span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
            	<h3><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h3>
            	<p class="description">{% if post.description %}{{ post.description  | strip_html | strip_newlines | truncate: 250 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 250 }}{% endif %}</p>
            </li>
          {% endfor %}
        </ul>
        <!-- Pagination links -->
        <div class="pagination">
          {% if paginator.previous_page %}
            <a href="{{ site.url }}{{ paginator.previous_page_path }}" class="previous button__outline">Newer Posts</a>  
          {% endif %} 
          {% if paginator.next_page %}
            <a href="{{ site.url }}{{ paginator.next_page_path }}" class="next button__outline">Older Posts</a>
          {% endif %}
        </div>
      </div>
